include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include CHANGES.rst

include selectolax/*
include selectolax/lexbor/*
include selectolax/modest/*

include selectolax/lexbor/*.so
exclude selectolax/*.so


recursive-include modest/source *.c *.h
recursive-include modest/include *.h
include modest/*
include modest/include/*
include modest/source/*

recursive-include lexbor/source *.c *.h
include lexbor/*
include lexbor/source/*

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
