pip>=18.0
bumpversion>=0.5.3
wheel>=0.29.0
watchdog>=0.8.3
flake8>=2.6.0
tox>=2.3.1
coverage>=4.1
Sphinx==8.0.2
sphinx-rtd-theme==3.0.0
numpydoc==1.8.0
pytest>=3.7.2
pytest-runner>=4.2
Cython>=3.0.11
pluggy>=0.7.1
mypy==1.4.1
types-pyinstaller==6.10.0