pip>=18.0
bumpversion>=0.5.3
wheel>=0.29.0
watchdog>=0.8.3
tox>=2.3.1
coverage>=4.1
Sphinx==8.0.2
numpydoc==1.8.0
pytest>=3.7.2
pytest-runner>=4.2
Cython>=3.0.11
pluggy>=0.7.1
mypy==1.4.1
types-pyinstaller==6.10.0.20240812
furo==2024.8.6
sphinxext-opengraph==0.9.1
sphinx-copybutton==0.5.2
ruff
setuptools>=75.7.0
pytest-mypy-plugins>=3.2,<4.0.0
cython-lint
